.Select{
}
.Select-head{
    text-align: center;
}
.Select-neck{
    padding: 20px;
    background: linear-gradient(#84fab0, #8fd3f4);
}

.Select-body{
    border-top: 3px solid #86eec6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 50px;
    margin-top: 30px;
}
.Select-body-songsList{
    margin-right: 80px;
}
.Select-body-song{
    box-shadow: gray 4px 4px 10px 5px;
    border: 6px solid gray;
    margin-bottom: 40px;
}
.Select-body-nowSong{
    cursor: pointer;
    width: 800px;
    height: 400px;
    border-radius: 100%;
}
.Select-body-visibleSong{
    width: 600px;
    height: 10px;
    margin-left: 12.5%;
}
.Select-body-sides{
    position: fixed;
    top: 350px;
    right: 200px;
}
#Select-body-arrow{
    filter: brightness(0%);
    cursor: pointer;
    width: 80px;
    height: 150px;
    margin-left: 12.5%;
}
#Select-body-arrow:hover{
    filter: brightness(70%);
}
/* #Select-body-songTitle{
    background: linear-gradient(#a6c0fe, #f68084);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;
    font-size: 30px;
} */

.Select-mainSize{
    border-left: 3px solid #86eec6;
    border-right: 3px solid #86eec6;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #bdfce4;
}
.Select-foot{
    border-bottom: 3px solid #dfcf9e;
    padding-top: 30px;
    padding-bottom: 60px;
}
.Select-foot-levels{
    display: flex;
    justify-content: center;
}
#Select-foot-level{
    animation: onOffEffect 2s linear infinite;
    cursor: pointer;
    transform: rotate(45deg);
    background-color: #fbffd2;
    border: 5px solid black;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Kablammo', cursive;
    font-weight: bold;
    font-size: 40px;
}
#Select-foot-level:hover{
    animation: none;
    background-color: #f78324;
}
@keyframes onOffEffect{
    50%{
        background-color: #311694;
    }
    100%{
        background-color: #fbffd2;
    }
}