.Game{
    background: linear-gradient(#89f7fe, #66a6ff);
    padding-bottom: 1000px;
}
.Game-body{
    top: 105px;
    position: fixed;
    display: flex;
    justify-content: center;
    left: 532px;
}
.Game-body-judge{
    border: 2px solid black;
}