@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}