@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
img{
    display: block;
}

.head-title{
    cursor: pointer;
    margin-left: 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bagel Fat One', cursive;
}
.users{
    display: flex;
    margin-top: 10px;
    font-family: 'Nanum Pen Script', cursive;
}
.users-setting{
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
}
.users-userInfo{
    display: flex;
    margin-left: auto;
}
.users-userInfo-user{
    cursor: pointer;
    padding-right: 30px;
    font-size: 30px;
    font-weight: bold;
}